body {
    background: rgb(13, 143, 204);
    font: normal 12pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10pt;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.692);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

